@import url('https://fonts.googleapis.com/css2?family=Galindo&display=swap');
@import url('https://p.typekit.net/p.css?s=1&k=ohf0gmr&ht=tk&f=28207.28241.49976&a=62569417&app=typekit&e=css');

@font-face {
    font-family: 'p22-stanyan';
    src: url('https://use.typekit.net/af/444506/00000000000000007735b3cd/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3') format('woff2'),
    url('https://use.typekit.net/af/444506/00000000000000007735b3cd/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3') format('woff'),
    url('https://use.typekit.net/af/444506/00000000000000007735b3cd/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3') format('opentype');
    font-display: auto;
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: 'moonblossom';
    src: url('https://use.typekit.net/af/bf03be/00000000000000007735fbe5/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3') format('woff2'),
    url('https://use.typekit.net/af/bf03be/00000000000000007735fbe5/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3') format('woff'),
    url('https://use.typekit.net/af/bf03be/00000000000000007735fbe5/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3') format('opentype');
    font-display: auto;
    font-style: normal;
    font-weight: 400;
}

h1 {
    font-size: clamp(2rem, 5vw, 4rem);
    margin-bottom: 1rem;
    color: black;
    font-family: 'moonblossom', sans-serif;
}

form {
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

label {
    font-size: clamp(1rem, 2vw, 1.5rem);
    font-weight: bold;
    display: flex;
    flex-direction: column;
}

input, textarea {
    width: 100%;
    padding: 6px;
    border: 2px solid #ddd;
    border-radius: 4px;
    font-size: clamp(1rem, 1.5vw, 1.25rem);
    transition: border 0.3s;
}

input:focus, textarea:focus {
    border-color: #aaa;
    outline: none;
}

textarea {
    resize: vertical;
    min-height: 100px;
}

button {
    font-size: clamp(1rem, 2vw, 1.5rem);
    background-color: #4c8a7c;
    color: white;
    border: none;
    padding: 10px;
    margin-top: 10px;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.3s;
}

button:hover {
    background-color: #3a6f60;
}

a {
    margin-top: 15px;
    font-size: clamp(1rem, 1.5vw, 1.25rem);
    color: #4c8a7c;
    text-decoration: none;
    transition: color 0.3s;
}

a:hover {
    color: #3a6f60;
}
